@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset des styles de base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles du footer */
.footer {
  background-color: #24262b;
  padding: 50px 0;
  text-align: center; /* Centrage du contenu */
}

.footainer {
  max-width: 1170px; 
  margin: auto;
  display: flex;
  justify-content: space-between; /* Espacement entre les colonnes */
  flex-wrap: wrap;
  border: 1px solid red;
}

.footer-col {
  flex: 1; /* Les colonnes prennent l'espace disponible */
  max-width: 23%; /* Limite maximale pour quatre colonnes */
  padding: 0 15px;
  text-align: left; /* Alignement du texte à gauche */
  border: 1px solid green;
  min-width: 200px;
}

.footer-col:nth-child(2), .footer-col:nth-child(3) {
  margin: 0 15px; /* Ajout de marges latérales aux colonnes intérieures */
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px; /* Réduction de la marge inférieure */
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col ul {
  list-style: none;
  padding-left: 0; /* Suppression du padding à gauche */
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
}

.social-links {
  margin-top: 20px; /* Ajout d'espace au-dessus des icônes sociales */
}

.footer-col .social-links a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px; /* Espacement des icônes */
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.icon {
  font-size: 26px;
  margin-top: 7px;
}

.icon-container {
  margin-right: 10px;
}

.copyright {
  margin-top: 30px; /* Espacement vers le haut */
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: 992px) {
  .footer-col {
    flex: 1 0 23%; /* Flex-grow pour prendre un espace égal */
  }
}
