/* styleLogin.css */

.backgroudImage {
    width: 100%;
    height: auto;
    background: url(../assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid red;
}
/* Pour centrer les boutons et les modaux */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajustez la hauteur selon vos besoins */
  }
  
  /* Pour styliser les boutons */
  .button {
    background-color: #d0c861;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
    color: black;
  }
  
  /* Pour styliser le contenu des modaux */
  .modal-body {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .modal-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .modal-footer {
    background-color: #f7f7f7;
    padding: 10px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }